<html>
  <title>Fit Jang</title>
  <head>
  <style>
  table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
  }
  </style>
  </head>
  <body>
    <h1>Fit Jang</h1>
    <h3><a href="/exercise">วิธีการออกกำลังกาย</a></h3>
    <h3><a href="/Food">วิธีการกิน</a></h3>
    <form method="POST">
    <!-- Description <input name="item_activity" id="id_new_activity" placeholder="Activity" /> -->
    <select name="item_activity" id="id_of_select">

       <option value="Run">Run</option>
       <option value="Jogging">Jogging</option>

    </select>

    <br>
    Weight <input name="val_weight" id="id_weight" placeholder="K.g." />
    <br>
    Time <input name="val_time" id="id_time" placeholder="Minutes" />
    <br>
    <!-- Date <input type="date" name="date_activity" id="id_date" value="{{ show_date }}">
    <br> -->
    <input id="id_sub" type="submit" value="Submit">
    {% csrf_token %}
    </form>
    <table id="id_list_table" style="width:100%">
       <tr>
          <th>Description</th>
          <th>Weight(กก.)</th>
          <th>Time(นาที)</th>
          <th>Calories</th>
          <th>Delete</th>
       </tr>
       {% for item in items %}
       <tr>
         <td>{{ forloop.counter }}: {{ item.activity_text }}</td>
         <td>{{item.weight_data}}</td>
         <td>{{item.amount_of_time}}</td>
         <td>{{item.calories}}</td>
         <!-- <td><a href="/" onclick="return confirm("Are you sure?");">Delete</a></td> -->
         <td><input type="button" value="Delete" onclick="deleteRow(this)"></td>
       </tr>
      {% endfor %}
    </table>
    <script>
    function deleteRow(r) {
       var i = r.parentNode.parentNode.rowIndex;
       document.getElementById("id_list_table").deleteRow(i);
    }
   </script>
  </body>
</html>
