<html>
    <title>Fit Jang</title>
  <body>
    <h1>Fit Jang</h1>
    <form method="POST">
    Description <input name="item_activity" id="id_new_activity" placeholder="Enter a Fit Jang activity" />
    <br>
    Weight <input name="val_weight" id="id_weight" />
    <br>
    Time <input name="val_time" id="id_time" />
    <br>
    <!-- Date <input type="date" name="date_activity" id="id_date" value="{{ show_date }}">
    <br> -->
    <input id="id_sub" type="submit" value="Submit">
    {% csrf_token %}
    </form>
  <table id="id_list_table">
       <tr>
    {% for item in items %}
         <td>{{ forloop.counter }}: {{ item.activity_text }}</td>
    {% endfor %}
    {% for valW in ValWeight %}
         <td>{{valW.weight_data}} กก.</td>
    {% endfor %}
    {% for valT in ValTime %}
         <td>{{valT.amount_of_time}} นาที</td>
       </tr>
    {% endfor %}
  </table>
  </body>
</html>
<!-- add data -->
<!--
<html>
<body>
<form action="show/" method="post">
    <title> Fit Jang </title>
    <center><h1> Welcome to Fit Jang!</h1>
      Date <input type="date" name="Date"><br><br>
      Description <input type="text" name="Description" value="run"><br><br>

      <input type="submit" value="Submit">
      {% csrf_token %}
</form>
</body>
</html> -->
