<html>
    <title>Fit Jang</title>
  <body>
    <h1>Fit Jang</h1>
    <form method="POST">
    <input name="item_activity" id="id_new_activity" placeholder="Enter a Fit Jang activity" />
    {% csrf_token %}
    </form>
  <table id="id_list_table">
    <tr><td>1: {{ new_item_text }}</td></tr>
  </table>
  </body>
</html>
<!-- add data -->
<!--
<html>
<body>
<form action="show/" method="post">
    <title> Fit Jang </title>
    <center><h1> Welcome to Fit Jang!</h1>
      Date <input type="date" name="Date"><br><br>
      Description <input type="text" name="Description" value="run"><br><br>

      <input type="submit" value="Submit">
      {% csrf_token %}
</form>
</body>
</html> -->
